Bee 1 1
XXXXX
XXXXX
XICIX
XXXXX
XXXXX
Mandrake 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
GreatBeast 1 2
XXIXX
XXXXX
IXCXI
XXXXX
XXIXX
GreatBeast 1 2
XXIXX
XXXXX
IXCXI
XXXXX
XXIXX
Angel 1 2
XXIXX
XXIXX
IICII
XXIXX
XXIXX
Angel 1 2
XXIXX
XXIXX
IICII
XXIXX
XXIXX
Mandrake 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
SeaUrchin 1 2
XXXXX
XIIIX
XICIX
XIIIX
XXXXX
SeaUrchin 1 2
XXXXX
XIIIX
XICIX
XIIIX
XXXXX
Bishop 1 2
IXXXI
XIXIX
XXCXX
XIXIX
IXXXI
Bishop 1 2
IXXXI
XIXIX
XXCXX
XIXIX
IXXXI
Ladybug 1 1
XXXXX
XXIXX
XXCXX
XXIXX
XXXXX
Ladybug 1 1
XXXXX
XXIXX
XXCXX
XXIXX
XXXXX
Dragonfly 1 1
XXXXX
XIIIX
XXCXX
XIIIX
XXXXX
Dragonfly 1 1
XXXXX
XIIIX
XXCXX
XIIIX
XXXXX
Swordsman 2 2
XXXXX
XXIIX
XXCII
XXIIX
XXXXX
Swordsman 2 2
XXXXX
XXIIX
XXCII
XXIIX
XXXXX
Lancer 2 2
IXIXI
XXXXX
IXCXI
XXXXX
IXIXI
Lancer 2 2
IXIXI
XXXXX
IXCXI
XXXXX
IXIXI
Mechanic 3 2
IIIII
XXIXX
XXCXX
XXIXX
IIIII
Mechanic 3 2
IIIII
XXIXX
XXCXX
XXIXX
IIIII